{% extends "layout.html" %}
{% from "management/macros.html" import display_runner, display_category %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="centered">
<h2>Individuel</h2>
    <table class="table table-striped">
        <tr>
            <th class="text-center">Dossard</th>
            <th class="text-center">Nom</th>
            <th class="text-center">Prénom</th>
            <th class="text-center">Sexe</th>
            <th class="text-center">Age</th>
            <th class="text-center">Catégorie FFA</th>
            <th class="text-center">Catégorie</th>
        </tr>
        {% for ind in individual %}
        <tr>
            {{ display_runner(ind.runner_1) }}
            <td class="text-center">{{ind.runner_1.runner_category()}}</td>
            <td class="text-center">{{ display_category(ind)}}</td>
        </tr>
        {% endfor %}
    </table>
    <h2>Equipe</h2>
    <table class="table table-striped">
        <tr>
            <th class="text-center" rowspan="2">Nom équipe</th>
            <th class="text-center" colspan="5">Coureur 1</th>
            <th class="text-center" colspan="5">Coureur 2</th>
            <th class="text-center" colspan="5">Coureur 3</th>
            <th class="text-center" rowspan="2">Catégorie</th>
        </tr>
        <tr>
            <th class="text-center">Dossard</th>
            <th class="text-center">Nom</th>
            <th class="text-center">Prénom</th>
            <th class="text-center">Sexe</th>
            <th class="text-center">Age</th>
            <th class="text-center">Dossard</th>
            <th class="text-center">Nom</th>
            <th class="text-center">Prénom</th>
            <th class="text-center">Sexe</th>
            <th class="text-center">Age</th>
            <th class="text-center">Dossard</th>
            <th class="text-center">Nom</th>
            <th class="text-center">Prénom</th>
            <th class="text-center">Sexe</th>
                     <th class="text-center">Age</th>
        {% for t in team %}
        <tr>
            <td class="text-center">{{t.team}}</td>
            {{ display_runner(t.runner_1) }}
            {{ display_runner(t.runner_2) }}
            {{ display_runner(t.runner_3) }}
            <td class="text-center">{{ display_category(t) }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>
{% endblock %}
