{% extends "layout.html" %}

{% block content %}
<script>
$(document).ready(function() {
    // At each keyup of num field, check if runner is in database
    $('#num').bind("change paste keyup", function() {
        if($(this).val().length > 2) {
            $.ajax({
                url:  '/api/runner/get',
                type: 'POST',
                data:  $(this).serialize(),
                success: function(data) {
                    $("#results").attr("class", "alert alert-success");
                    var results = '<strong>Coureur trouvé</strong><p>';
                    results += data['num'] + ' - ' + data['first_name'] + ' ' + data['last_name'] + '</p><p>';
                    results += 'Temps actuel ' + data['time'] + ' </p>';
                    $("#results").html(results);
                },
            error: function(data) {
                $("#results").attr("class", "alert alert-danger");
                var results = '<strong>Erreur</strong><p>';
                results += data.responseText
                results += '</p>'
                $("#results").html(results);
            }
            });
        }
    }
    )

    // Sent time
    $('#timing').on('submit', function(e) {
        e.preventDefault(); // Prevent browser to sent form

        // minimal checking
        if($('#num').val() === '') {
            alert('Les champs doivent êtres remplis');
        } else {
            // Asychronous HTTP
            $.ajax({
                url:  $(this).attr('action'),
                type:  $(this).attr('method'),
                data:  {'num': $('#num').val()},
                success: function(data) {
                    $("#results").attr("class", "alert alert-success");
                    var results = '<strong>Coureur mis à jour</strong><p>';
                    results += data['num'] + ' - ' + data['first_name'] + ' ' + data['last_name'] + '</p><p>';
                    results += 'Temps actuel ' + data['time'] + ' </p>';
                    $("#results").html(results);
                },
            error: function(data) {
                $("#results").attr("class", "alert alert-danger");
                var results = '<strong>Erreur</strong><p>';
                results += data.responseText
                results += '</p>'
                $("#results").html(results);
            }
            });
        }
    });
});
</script>
<div class="container">
    <h1>Timing</h1>
    <div class="row">
        <form id="timing" action="/api/time/set_auto" method="post" class="form-horizontal col-lg-8 centered">
            <div class="form-group centered">
              <label for="num" class="form-group control-label">Numéro de dossard</label>
                  <div class="form-group">
                    <input type="text" class="form-control" id="num" name="num" />
                  </div>
            </div>
            <input type="hidden" id='action' value='set' />
            <input type="submit" id="sent" class="btn btn-default" value="Envoyer" />
        </form>
    </div>
    <div class="row">
        <div id="results"></div>
    </div>
</div>
{% endblock %}
