{% extends "registration/layout_form.html" %}
{% from "registration/macros.html" import basic_form, display_form_error, display_error, form_runner %}

{% block form %}
<form method="POST" action="/management/registration/category/individual/">
    {% csrf_token %}
    <div class='container centered'>
        <legend>Parcours route (3,3 km) / nature (3,4 km) / route (3,3 km)</legend>
        <div class='row'>
            <div class='col-lg-8 centered'>
{{ display_form_error(form) }}
                <legend>Informations de base</legend>
{{ basic_form(form.email, 'form-control') }}
{{ basic_form(form.category, 'form-control') }}
{{ basic_form(form.school, 'form-control autocomplete_school') }}
{{ basic_form(form.company, 'form-control autocomplete_company') }}
{{ basic_form(form.canicross) }}
            </div>
        </div>
        <div class='row'>
            <div class='col-lg-8 centered'>
                <legend>Coureur</legend>
{{ basic_form(form.num, 'form-control') }}
{{ form_runner(form.first_name, form.last_name, form.gender, form.birthday, form.license, form.federation, form.school, form.club, form.tshirt) }}
            </div>
        </div>
        <input type="submit" value="Envoyer" class="btn btn-primary">
    </div>
</form>
{% endblock %}
