{% extends "layout.html" %}
{% load tools %}
{% block content %}
{# day choose helper #}
<script>
  $(function() {
    $( ".datepicker" ).datepicker(
    {
      yearRange: "1900:",
      changeMonth: true,
      changeYear: true,
      regional: "fr",
    });
  });
</script>

{# autocomplete club #}
<script>
  $(function() {
    $( ".autocomplete_club" ).autocomplete({
      source: {{ autocomplete.club | safe }},
      minLength: 0,
      messages: {
        noResults: '',
        results: function() {}
    }
    });
  });
</script>

{# autocomplete company #}
<script>
  $(function() {
    $( ".autocomplete_company" ).autocomplete({
      source: {{ autocomplete.company | safe }},
      messages: {
        noResults: '',
        results: function() {}
    }
    });
  });
</script>

{# autocomplete federation #}
<script>
  $(function() {
    $( ".autocomplete_fede" ).autocomplete({
      source: {{ autocomplete.federation | safe }},
      messages: {
        noResults: '',
        results: function() {}
    }
    });
  });
</script>

{# autocomplete school #}
<script>
  $(function() {
    $( ".autocomplete_school" ).autocomplete({
      source: {{ autocomplete.school | safe }},
      messages: {
        noResults: '',
        results: function() {}
    }
    });
  });
</script>
<div class="container">
    <div class="centered">
    <h2>Formulaire d'engagement : 3/3</h2>
			<br /><br />
			<h3>Formulaire d'engagement</h3>
			<br />
			<p class="text-warning"><strong>Conformément à la loi L 231-3 du code du sport, tout coureur désirant s’inscrire doit présenter, 
				soit une licence FFA pour l’année en cours, soit un certificat médical, ou sa photocopie certifiée conforme par l’intéressé, 
				datant de moins d’un an à la date de la compétition pour la pratique de la course à pied en compétition. <br />
				Tout coureur ayant une licence sportive (hors FFA) devra dorénavant présenter un certificat médical ou sa 
				photocopie certifiée conforme par l’intéressé, datant de moins d’un an à la date de la compétition pour la 
				pratique de la course à pied en compétition.</strong></p>
				
			<h3>Remplir obligatoirement les champs marqués d'une *</h3>
	{% block form %}
	{% endblock %}
</div>
</div>
<script>
$(document).ready(toggle($( "#id_{{ form.category.name }}" )))
function toggle(select) {
        if (select.val() == '{% adult %}') {
        $( "#form_{{ form.company.name }}" ).hide();
        $( "#form_{{ form.school.name }}" ).hide();
        }
        else if (select.val() == '{% student %}') {
        $( "#form_{{ form.school.name }}" ).show();
        $( "#form_{{ form.company.name }}" ).hide();
        }
        else if (select.val() == '{% ensil %}') {
        $( "#form_{{ form.school.name }}" ).hide();
        $( "#form_{{ form.company.name }}" ).hide();
        }
        else if (select.val() == '{% old_ensil %}') {
        $( "#form_{{ form.school.name }}" ).hide();
        $( "#form_{{ form.company.name }}" ).hide();
        }
        else if (select.val() == '{% challenge %}') {
        $( "#form_{{ form.school.name }}" ).hide();
        $( "#form_{{ form.company.name }}" ).show();
        }
}
$( "#id_{{ form.category.name }}" )
  .change(function() {
  toggle($(this))
  })
</script>
{% endblock %}