{% extends "layout.html" %}
{% block content %}
    <h2>Paiement : 3/3</h2>
               
			<b>Choix du paiement enregistré !</b><br />
                        <p>Votre inscription au Relais de l'ENSIL est désormais validé ! Nous vous remercions de vous être inscrit en ligne, et nous vous donnons rendez-vous le Dimanche 15 février à l'ENSIL !</p>
                        <p>Sportivement votre,<br/>L'Equipe du Relais de l'ENSIL</p>
                        <p><a href="http://www.relaisensil.com">Retour au site</a></p>
{% endblock %}