{% macro display_error(err) %}
  {% if err %}
<p class='text-danger'>{{err}}</p>
  {% endif %}
{% endmacro %}

{% macro display_form_error(form) %}
  {% if form.errors %}
<p class='text-danger'>Certains champs sont incorrects.</p>
  {% endif %}
  {% if form.non_field_errors %}
    {% for e in form.non_field_errors() %}
<p class='text-danger'>{{e}}</p>
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro display_error(field) %}
  {% if field.errors %}
<span class="glyphicon glyphicon-remove form-control-feedback"></span>
    {% for e in field.errors %}
<p class='text-danger'>{{e}}</p>
    {% endfor %}
  {% endif %}

  {% if field.non_field_errors %}
    {% for e in field.non_field_errors %}
<p class='text-danger'>{{e}}</p>
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro has_error(err) %}
{%- if err %}
 has-error
{% endif %}
{% endmacro%}

{% macro basic_form(item, css) %}
<div id="form_{{ item.name }}" class="form-group has-feedback{{has_error(item.errors)}}">
   <label class="control-label" for="id_{{ item.name }}">{{ item.label }}{% if item.css_classes() and 'required' in item.css_classes() %} *{% endif %}</label>
   {% if css %}
   {{ item.as_widget(attrs={"class": css}) }}
   {% else %}
   {{ item }}
   {% endif %}
   <p class="help-text">{{ item.help_text }} </p>
   {{ display_form_error(item) }}
</div>
{% endmacro %}

{% macro form_runner(first_name, last_name, gender, birthday, license, federation, school, club, tshirt) %}
  {{ basic_form(first_name, 'form-control') }}
  {{ basic_form(last_name, 'form-control') }}
  {{ basic_form(gender, 'form-control')}}
  {{ basic_form(birthday, 'from-control datepicker') }}
  {{ basic_form(tshirt, 'form-control') }}
  {{ basic_form(license, 'form-control') }}
  {{ basic_form(federation, 'from-control autocomplete_fede') }}
  {{ basic_form(club, 'from-control autocomplete_club') }}
{% endmacro %}