{% extends "../layout_form.html" %}
{% block form %}
<h3>NB : Le Relais est ouvert à partir de la catégorie Minime</h3>
<?php echo validation_errors();
// Upload error
if(isset($error))
    echo $error;?>
<div class="form_insc">
<?php
echo form_open_multipart('inscription/enregistrement');

echo form_fieldset('Informations personnelles - Parcours route et nature (10 km)');

echo form_label("Nom : *",'nom');
echo form_input('nom',set_value('nom'));
echo "<br />";


echo form_label("Prénom : *",'prenom');
echo form_input('prenom',set_value('prenom'));
echo "<br />";

echo form_label("Adresse e-mail : *",'mail');
echo form_input('mail',set_value('mail'));
echo "<br />";

echo form_label("Sexe : *",'sexe');
echo form_radio('sexe', 'h',set_radio('sexe','h'));
echo "Homme ";
echo form_radio('sexe', 'f',set_radio('sexe','f'));
echo "Femme ";
echo "<br />";

echo form_label("Année de naissance : *",'annee');
for($i=date('Y'); $i>=1900; $i--)
    $annee[$i] = $i;
$annee_en_cours = date('Y');
echo form_dropdown('annee', $annee, set_value('annee',$annee_en_cours));
echo "<br />";
if(JOUR_J)
{
    echo form_label("Certificat médical :");
    echo form_checkbox('certificat_check', 'oui', FALSE);
    echo "<br />";
}

else
{
    echo form_label("Certificat médical :");
    echo form_upload('certificat','certificat');
    echo "<br />";
}
echo form_label("Licencié : Fédération",'federation');
echo form_input('federation',set_value('federation'),'id="federation"');
echo "<br />";

echo form_label("Numéro de licence : ",'num_licence');
echo form_input('num_licence',set_value('num_licence'),'id="num_licence"');
echo "<br />";

echo form_label("Club : ",'club');
echo form_input('club',set_value('club'),'id="club"');
echo "<br />";

echo form_label("Etudiant/Lycée/Collégien ? : ",'etudiant');
echo form_radio('etudiant', '0', set_radio('etudiant','0',TRUE));
echo 'Non';
echo form_radio('etudiant', '1', set_radio('etudiant','1'));
echo 'Etudiant';
echo form_radio('etudiant', '2', set_radio('etudiant','2'));
echo 'Lycéen';
echo form_radio('etudiant', '3', set_radio('etudiant','3'));
echo 'Collégien';
echo "<br />";

echo form_label("Composante ou établissement : ",'composante');
echo form_input('composante', set_value('composante'),'id="composante"');
echo "<br />";

echo form_label("Ancien de l'ENSIL : ",'ancien');
echo form_checkbox('ancien_ensil','1', set_checkbox('ancien_ensil','1'));
echo "<br />";

echo form_hidden('categorie','indiv');
echo "<br>";
echo form_submit('suivant','Suivant'); echo form_button('annuler', 'Annuler','onClick="window.history.back();"');
echo form_fieldset_close();
echo form_close();

?>
</div>