{% extends "../layout_form.html" %}
{% block form %}
<h3>NB : Le Relais par équipes est ouvert à partir de la catégorie Minime</h3>
<?php echo validation_errors(); ?>
<div class="form_insc">

<?php

// Upload error
if(isset($error[1]))
    echo $error[1];
    // Upload error
if(isset($error[2]))
    echo $error[2];
    // Upload error
if(isset($error[3]))
    echo $error[3];

echo form_open_multipart('inscription/enregistrement');
/*
 * Information sur l'équipe
 */
echo form_fieldset('Informations sur l\'équipe');
echo form_label("Nom de l'équipe : *",'nom_equipe');
echo form_input('nom_equipe',set_value('nom_equipe'));
echo "<br />";

echo form_label("Adresse e-mail de l'équipe: *",'mail_equipe');
echo form_input('mail_equipe',set_value('mail_equipe'));
echo "<br />";

echo form_label("Licencié : Fédération",'federation');
echo form_input('federation',set_value('federation'),'id="federation"');
echo "<br />";

echo form_label("Club : ",'club');
echo form_input('club',  set_value('club'),'id="club"');
echo "<br />";

echo form_label("Ancien de l'ENSIL : ",'ancien');
echo form_checkbox('ancien_ensil', '1',set_checkbox('ancien_ensil','1'));
echo "<br />";


/*
 * Relayeur 1
 */
echo form_fieldset('Relayeur 1 : parcours route (3,3 km)');
echo form_label("Nom : *",'nom1');
echo form_input('nom1',  set_value('nom1'));
echo "<br />";

echo form_label("Prénom : *",'prenom1');
echo form_input('prenom1',  set_value('prenom1'));
echo "<br />";

echo form_label("Sexe : *",'sexe1');
echo form_radio('sexe1', 'h', set_radio('sexe1','h'));
echo "Homme ";
echo form_radio('sexe1', 'f', set_radio('sexe1','f'));
echo "Femme ";
echo "<br />";

echo form_label("Année de naissance : *",'annee1');
for($i=date('Y'); $i>=1900; $i--)
    $annee[$i] = $i;
$annee_en_cours = date('Y');
echo form_dropdown('annee1', $annee, set_value('annee1',$annee_en_cours));
echo "<br />";

if(JOUR_J)
{
    echo form_label("Certificat médical :");
    echo form_checkbox('certificat_check1', 'oui', FALSE);
    echo "<br />";
}

else
{
    echo form_label("Certificat médical :");
    echo form_upload('certificat1','certificat1');
    echo "<br />";
}

echo form_label("Numéro de licence : ",'num_licence1');
echo form_input('num_licence1',set_value('num_licence1'),'id="num_licence1"');
echo "<br />";

echo form_label("Etudiant/Lycée/Collégien ? : ",'etudiant1');
echo form_radio('etudiant1', '0', set_radio('etudiant1','0',TRUE));
echo 'Non';
echo form_radio('etudiant1', '1', set_radio('etudiant1','1'));
echo 'Etudiant';
echo form_radio('etudiant1', '2', set_radio('etudiant1','2'));
echo 'Lycéen';
echo form_radio('etudiant1', '3', set_radio('etudiant1','3'));
echo 'Collégien';
echo "<br />";

echo form_label("Composante ou établissement : ",'composante');
echo form_input('composante1',  set_value('composante1'),'id="composante1"');
echo "<br />";

echo form_fieldset_close();
/*
 * Relayeur 2
 */
echo form_fieldset('Relayeur 2 : parcours nature (3,4 km)');
echo form_label("Nom : *",'nom2');
echo form_input('nom2',  set_value('nom2'));
echo "<br />";

echo form_label("Prénom : *",'prenom2');
echo form_input('prenom2',  set_value('prenom2'));
echo "<br />";

echo form_label("Sexe : *",'sexe2');
echo form_radio('sexe2', 'h', set_radio('sexe2','h'));
echo "Homme ";
echo form_radio('sexe2', 'f', set_radio('sexe2','f'));
echo "Femme ";
echo "<br />";

echo form_label("Année de naissance : *",'annee2');
for($i=date('Y'); $i>=1900; $i--)
    $annee[$i] = $i;
$annee_en_cours = date('Y');
echo form_dropdown('annee2', $annee, set_value('annee2',$annee_en_cours));
echo "<br />";

if(JOUR_J)
{
    echo form_label("Certificat médical :");
    echo form_checkbox('certificat_check2', 'oui', FALSE);
    echo "<br />";
}

else
{
    echo form_label("Certificat médical :");
    echo form_upload('certificat2','certificat2');
    echo "<br />";
}

echo form_label("Numéro de licence : ",'num_licence1');
echo form_input('num_licence2',set_value('num_licence2'),'id="num_licence2"');
echo "<br />";

echo form_label("Etudiant/Lycée/Collégien ? : ",'etudiant2');
echo form_radio('etudiant2', '0', set_radio('etudiant2','0',TRUE));
echo 'Non';
echo form_radio('etudiant2', '1', set_radio('etudiant2','1'));
echo 'Etudiant';
echo form_radio('etudiant2', '2', set_radio('etudiant2','2'));
echo 'Lycéen';
echo form_radio('etudiant2', '3', set_radio('etudiant2','3'));
echo 'Collégien';
echo "<br />";

echo form_label("Composante ou établissement : ",'composante');
echo form_input('composante2',  set_value('composante2'),'id="composante2"');
echo "<br />";

echo form_fieldset_close();

/*
 * Relayeur 3
 */
echo form_fieldset('Relayeur 3 : parcours route (3,3 km)');
echo form_label("Nom : *",'nom3');
echo form_input('nom3',  set_value('nom3'));
echo "<br />";

echo form_label("Prénom : *",'prenom3');
echo form_input('prenom3',  set_value('prenom3'));
echo "<br />";

echo form_label("Sexe : *",'sexe3');
echo form_radio('sexe3', 'h', set_radio('sexe3','h'));
echo "Homme ";
echo form_radio('sexe3', 'f', set_radio('sexe3','f'));
echo "Femme ";
echo "<br />";

echo form_label("Année de naissance : *",'annee3');
for($i=date('Y'); $i>=1900; $i--)
    $annee[$i] = $i;
$annee_en_cours = date('Y');
echo form_dropdown('annee3', $annee, set_value('annee3',$annee_en_cours));
echo "<br />";

if(JOUR_J)
{
    echo form_label("Certificat médical :");
    echo form_checkbox('certificat_check3', 'oui', FALSE);
    echo "<br />";
}

else
{
    echo form_label("Certificat médical :");
    echo form_upload('certificat3','certificat3');
    echo "<br />";
}

echo form_label("Numéro de licence : ",'num_licence1');
echo form_input('num_licence3',set_value('num_licence3'),'id="num_licence3"');
echo "<br />";

echo form_label("Etudiant/Lycée/Collégien ? : ",'etudiant3');
echo form_radio('etudiant3', '0', set_radio('etudiant3','0',TRUE));
echo 'Non';
echo form_radio('etudiant3', '1', set_radio('etudiant3','1'));
echo 'Etudiant';
echo form_radio('etudiant3', '2', set_radio('etudiant3','2'));
echo 'Lycéen';
echo form_radio('etudiant3', '3', set_radio('etudiant3','3'));
echo 'Collégien';
echo "<br />";

echo form_label("Composante ou établissement : ",'composante');
echo form_input('composante3',  set_value('composante3'),'id="composante3"');
echo "<br />";

echo form_fieldset_close();

echo form_hidden('categorie','equip');
echo "<br/>";
echo form_submit('suivant','Suivant'); echo form_button('annuler', 'Annuler','onClick="window.history.back();"');
echo form_fieldset_close();
echo form_close();
?>
{% endblock %}
